
html { 
  background-color: black;
  background: url("https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80https://images.unsplash.com/photo-1593392696218-3cbe5ec15c55?ixlib=rb-1.2.1&auto=format&fit=crop&w=1790&q=80") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0px;
  font-family: "Nunito Sans";
}


.container {
 display:flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-top: 6vh;
 color: black;
 width: 100%;
 height: 100%;
}

.container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background-image: linear-gradient(180deg, #000000, #ff9306);
  opacity: .6;
  z-index: -1;
}

.rowalt {
  width: 100%;
  text-align: center;
  color: #FFF;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin: 2vw;
}


.leftatr {
  flex:1;
  margin-left: 2vw;
  margin-right: 1vw;
  text-align: right;
  vertical-align: middle;
}

.rightatr {
  flex:1;
  margin-left: 1vw;
  margin-right: 2vw;
  text-align: left;
}


.scale {
  flex:4;
  height: fit-content;
  margin-left: 2vw;
  margin-right: 2vw;
  text-align: right;
  background: #FFF;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  vertical-align: middle;
  padding: 1vw;
}

@media only screen and (max-width: 600px) {
.scale{
  flex:1;
}
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1vh;
  border-radius: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  vertical-align: middle;
  margin-top:1vw;
  margin-bottom:1vw;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 3vw;
  height: 3vw;
  background: #0366b8;
  cursor: pointer;
  border-radius: 5px;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}


h1 {
  font-family: "Nunito Sans";
  font-weight: 100;
  font-size: 4vw;

}
@media only screen and (max-width: 600px) {
  h2{
    font-size: 1.5vw;
  }
  }

  @media only screen and (max-width: 600px) {
    .leftatr h3 { 
      font-size: 3vw;
    }
    }

    @media only screen and (max-width: 600px) {
      .rightatr h3 { 
        font-size: 3vw;

      }
      }

h3 {
  font-family: "Nunito Sans";
  font-weight: 800;
  color: aliceblue;
  font-size: 1.5vw;
}

p {
  font-size: 1.2vw;
  font-family: "Nunito Sans";
  font-weight: 400;
  color: aliceblue;
}

a {
color: aliceblue;
}

:visited {
  color: aliceblue;
}
