html { 
  background-color: black;
  background: url("https://images.unsplash.com/photo-1593392696218-3cbe5ec15c55?ixlib=rb-1.2.1&auto=format&fit=crop&w=1790&q=80") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0px;
}


.container {
 display:flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 margin-top: 6vh;
 color: black;
}

.container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #000000, #ff9306);
  opacity: .6;
  z-index: -1;
}

.quote {
  flex:1;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

h1 {
  font-size: 3.5vw;
  font-family: "Nunito Sans";
  font-weight: 800;
  color: aliceblue;
}

p {
  font-size: 1.5vw;
  font-family: "Nunito Sans";
  font-weight: 400;
  color: aliceblue;
}
